.App {
  margin-top: 10px;
}

header {
  margin-bottom: 5px;
  font-weight: bold;
}

table td.fit,
table th.fit {
  white-space: nowrap;
  width: 1%;
}

.highlight-bottom {
  background: linear-gradient(to top, tomato 49%, rgba(0, 0, 0, .0) 51%);
}

.highlight-top {
  background: linear-gradient(to bottom, tomato 49%, rgba(0, 0, 0, .0) 51%);
}

.highlight-whole {
  background: tomato;
}

.table td {
  text-align: center;
  padding: 0px;
  height: 75px;
}

tr .col-header {
  padding: 5px;
  vertical-align: middle;
}

.table td.cell-data {
  text-align: center;
  padding: 0px;
}